.container {
  display: flex;
  flex-direction: column; /* Empilha topo e formulário verticalmente */
  gap: 20px;
}

.topo {
  display: flex;
  gap: 20px;
  align-items: stretch; /* Faz com que a altura dos filhos seja igual */
}

.calendario,
.compromissos {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.compromissos {
  max-height: 600px; /* Ajuste conforme necessário */
  overflow-y: auto;
}

.cabecalho {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.grade-calendario {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
  margin-top: 10px;
}

.nome-dia {
  font-weight: bold;
  text-align: center;
}

.celula-dia, .celula-vazia {
  padding: 20px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  cursor: pointer;
  text-align: center;
}

.celula-dia.selecionado {
  background-color: #87CEFA;
}

.lista-compromissos {
  margin-top: 20px;
}

.lista-compromissos ul {
  list-style-type: none;
  padding: 0;
}

.lista-compromissos li {
  margin-bottom: 10px;
  cursor: pointer;
}

.lista-compromissos .hora.selecionado {
  background-color: #87CEFA;
}

.formulario-e-detalhes {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.formulario-compromisso {
  display: flex;
  flex-direction: column;
}

.formulario-compromisso input,
.formulario-compromisso textarea {
  padding: 5px;
  margin-bottom: 10px;
  width: 100%;
}

.formulario-compromisso button {
  padding: 10px;
  background-color: #87CEFA;
  border: none;
  cursor: pointer;
}
