.container-lg {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.container-estoque {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
}


.container-estoque button {
  margin-top: 10px;
}

.visao-baixo {
  display: inline-flex;
  justify-items: end;
}

.item {
  padding: 10px;
}

.diminuir {
  padding: 10px;
}

.cabecaTabela {
  background-color: #2babe2;
  border-radius: 1vh;
}

.tabela {
  background-color: #2babe288;
  border-radius: 1vh;
  padding: 1vh 1vh 1vh 1vh;
  text-align: center;
  width: 100%;
  font-size: 2vh;
}

.TituloColuna {
  font-size: 3vh;
  padding: 1vh 1vh 1vh 1vh;
}

.botao {
  border-radius: 1vh;
  border: none;
  background-color: #2babe288;
  font-size: 3vh;
  margin-bottom: 5vh;
  width: auto;
  height: auto;
  padding: 1vh 2vh 1vh 2vh;
}

.inputEstoque {
  width: 100%;
  border: none;
  background-color: #2babe288;
  border-radius: 1vh;
  padding: 0.5vh 1vh 0.5vh 1vh;
  resize: none;
  max-height: 10vh;
}

.area{
  height: 50vh;
  width: 100%;
  resize: none;
}

.listaFiltros{
  display: flex;
  list-style: none;
  padding: 0;
  flex-wrap: wrap;
}

.filtro{
  background-color: #2babe2;
  border-radius: 1vh;
  padding: 0.3vh 0.3vh 0.3vh 0.3vh;
}

.filtro > button{
  background: none;
  border: none;
  font-weight: bold;
}